/* You can add global styles to this file, and also import other style files */

section{
    position: absolute;
}
footer{
    margin: 0%;
    text-align: center;
width: 100%;
    position:absolute;
    margin-top: 550px;
    background-color: aqua;
}