<div class="text-center"><h1>Add Data to Abass Ports</h1></div>
<div class=" col-md-12 offset-md-3">
    <div class="row">

        <form (ngSubmit)="saveAbass()">
            <div class="form-group">
                <label >Coninar</label>
                <input type="text" class="form-control" id="conNumber"
                [(ngModel)]="cab.conNumber" name="conNumber">
            </div>
            <div class="form-group">
                <label >bilNumber</label>
                <input type="text" class="form-control" id="bilNumber"
                [(ngModel)]="cab.bilNumber" name="bilNumber">
            </div>
            <div class="form-group">
                <label >sealNumber</label>
                <input type="text" class="form-control" id="sealNumber"
                [(ngModel)]="cab.sealNumber" name="sealNumber">
            </div>
            <div class="form-group">
                <label >contSize</label>
                <input type="text" class="form-control" id="contSize"
                [(ngModel)]="cab.contSize" name="contSize">
            </div>
            <div class="form-group">
                <label >contPackage</label>
                <input type="text" class="form-control" id="contPackage"
                [(ngModel)]="cab.contPackage" name="contPackage">
            </div>
            <div class="form-group">
                <label >contWidth</label>
                <input type="text" class="form-control" id="contWidth"
                [(ngModel)]="cab.contWidth" name="contWidth">
            </div>
            <div class="form-group">
                <label >shipDate</label>
                <input type="text" class="form-control" id="shipDate"
                [(ngModel)]="cab.shipDate" name="shipDate">
            </div>
            <div class="form-group">
                <label >abassDischargDate</label>
                <input type="text" class="form-control" id="abassDischargDate"
                [(ngModel)]="cab.abassDischargDate" name="abassDischargDate">
            </div>
            <div class="form-group">
                <label >abassLoadDate</label>
                <input type="text" class="form-control" id="abassLoadDate"
                [(ngModel)]="cab.abassLoadDate" name="abassLoadDate">
            </div>
            <div class="form-group">
                <label >islamQala</label>
                <input type="text" class="form-control" id="islamQala"
                [(ngModel)]="cab.islamQala" name="islamQala">
            </div>
            <div class="form-group">
                <label >borderPassDate</label>
                <input type="text" class="form-control" id="borderPassDate"
                [(ngModel)]="cab.borderPassDate" name="borderPassDate">
            </div>
            <div class="form-group">
                <label >customHaratNimros</label>
                <input type="text" class="form-control" id="customHaratNimros"
                [(ngModel)]="cab.customHaratNimros" name="customHaratNimros">
            </div>
            <div class="form-group">
                <label >customEnteryDate</label>
                <input type="text" class="form-control" id="customEnteryDate"
                [(ngModel)]="cab.customEnteryDate" name="customEnteryDate">
            </div>
            <div class="form-group">
                <label >customOutDate</label>
                <input type="text" class="form-control" id="customOutDate"
                [(ngModel)]="cab.customOutDate" name="customOutDate">
            </div>
            <div class="form-group">
                <label >kblDistchedDate</label>
                <input type="text" class="form-control" id="kblDistchedDate"
                [(ngModel)]="cab.kblDistchedDate" name="kblDistchedDate">
            </div>
            <div class="form-group">
                <label >biltyList</label>
                <input type="text" class="form-control" id="biltyList"
                [(ngModel)]="cab.biltyList" name="biltyList">
            </div>
            <div class="form-group">
                <label >PrivateSundry</label>
                <input type="text" class="form-control" id="PrivateSundry"
                [(ngModel)]="cab.PrivateSundry" name="PrivateSundry">
            </div>
            <div class="form-group">
                <label >iraniAgent</label>
                <input type="text" class="form-control" id="iraniAgent"
                [(ngModel)]="cab.iraniAgent" name="iraniAgent">
            </div>
            <div class="form-group">
                <label >customJawaz</label>
                <input type="text" class="form-control" id="customJawaz"
                [(ngModel)]="cab.customJawaz" name="customJawaz">
            </div>
            <div class="form-group">
                <label >accdNumber</label>
                <input type="text" class="form-control" id="accdNumber"
                [(ngModel)]="cab.accdNumber" name="accdNumber">
            </div>
            <div class="form-group">
                <label >iraniDriverName</label>
                <input type="text" class="form-control" id="iraniDriverName"
                [(ngModel)]="cab.iraniDriverName" name="iraniDriverName">
            </div>
            <div class="form-group">
                <label >iraniDviverNumber</label>
                <input type="text" class="form-control" id="iraniDviverNumber"
                [(ngModel)]="cab.iraniDviverNumber" name="iraniDviverNumber">
            </div>
            <div class="form-group">
                <label >iraniTrackNumbert</label>
                <input type="text" class="form-control" id="iraniTrackNumbert"
                [(ngModel)]="cab.iraniTrackNumbert" name="iraniTrackNumbert">
            </div>
            <div class="form-group">
                <label >afgDriverName</label>
                <input type="text" class="form-control" id="afgDriverName"
                [(ngModel)]="cab.afgDriverName" name="afgDriverName">
            </div>
            <div class="form-group">
                <label >afgDviverNumber</label>
                <input type="text" class="form-control" id="afgDviverNumber"
                [(ngModel)]="cab.afgDviverNumber" name="afgDviverNumber">
            </div>
            <div class="form-group">
                <label >afgTrackNumber</label>
                <input type="text" class="form-control" id="afgTrackNumber"
                [(ngModel)]="cab.afgTrackNumber" name="afgTrackNumber">
            </div>



           
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</div>

