<nav class="navbar navbar-expand-sm bg-light navbar-light ">
    <ul class = "navbar-nav">
        
        <li class="nav-item">
            <a  routerLink='/abasslist' class="nav-link">Abass-Cont</a>
        </li>
        <li class="nav-item">
            <a  routerLink='/hairatanlist' class="nav-link">Hairatan-list</a>
        </li>
        <li class="nav-item">
            <a routerLink = '/istanbullist' class="nav-link">Istanbul-List</a>

        </li>

        <li class="nav-item">
            <a routerLink ='/karchipoer' class="nav-link">Karchi-Port</a>

        </li>
    </ul>

</nav>
<section>
    
</section>
<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> XYZ Transportatin-Company</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
